@font-face {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat Regular"), url("../assets/fonts/Montserrat-Regular.woff") format("woff");
}

header {
  background: url("../assets/images/logo.svg") no-repeat 4rem center/42px 42px;
}

header h2 {
  margin-left: 4rem !important;
  font-family: "Montserrat Regular", sans-serif !important;
  font-size: 1.5rem !important;
  color: #eeeeee;
  letter-spacing: -0.1rem !important;
}
