.drawerOpen {
  margin: 0 2rem;
  width: calc(100% - 4rem);
}

.drawerClosed {
  margin: 0 2rem;
  width: calc(100% - 4rem);
}

@media only screen and (min-width: 768px) {
  .drawerOpen {
    margin: 0 2rem 0 calc(17rem + 64px);
    width: calc(100% - 19rem - 64px);
  }
}
