.DataRequest ol > li {
  list-style-type: decimal;
}

.DataRequest ul > li {
  list-style-type: disc;
}

.DataRequest button {
  margin: 0.5rem;
}

.DataRequest .MuiPaper-root {
  padding: 0 0.5rem;
}