.row {
  margin-top: 1rem;
}

.row > div {
 width: calc(50% - 0.5rem);
}

.row > div:last-child {
  margin-left: 1rem;
}

.row > button {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.datePickerRow > div > label {
  color: #3f51b5;
  transform: translate(0, 1.5px) scale(0.75) !important;
}