.FollowThru .paper {
  padding: 0 1rem 0.5rem 1rem;
}

.FollowThru .row {
  margin-top: 1rem;
}

.FollowThru .row > div {
 width: calc(50% - 0.5rem);
}

.FollowThru .row > div:last-child {
  margin-left: 1rem;
}

.FollowThru .row > button {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.FollowThru .datePickerRow > div > label {
  color: #3f51b5;
  transform: translate(0, 1.5px) scale(0.75) !important;
}

.FollowThru input[type="file"] {
  display: none;
}